
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Codepen - Responsive Navigation Bar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" /><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<nav class="flex align-center">
  <p><span>Code</span>pen</p>
  
  <ul>
    <li class="big-screens">
      <a href="#">Home</a>
      <a href="#">Store</a>
      <a href="#">About Us</a>
      <button class="btn register" >Register</button>
      <button class="btn login">Log In</button>
    </li>
    <li class="small-screens">
      <i class="fa-solid fa-bars"></i>
    </li>
  </ul>
</nav>
<!-- partial -->
  
</body>
</html>
